# Folders

meta/
plots/
presentations/
processed_data/
raw_data/
wandb/
.vscode/
.snakemake/
data/
__pycache__/
rsconnect/

# Env folders

*venv*/
*renv*/

*.Rproj*

# Files

.DS_Store
.Rhistory
.Rprofile
renv.lock
*.code-workspace
activate_project*
*.log
test*
